.red{
    background-color: red;
}
.orange{
    background-color: orange;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color: green;
}
.sky{
    background-color: skyblue;
}
.blue{
    background-color: blue;
}
.violet{
    background-color: rgb(241, 19, 241);
}
.bold{
    font-weight: 700;
}